<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="/stylesheets/students.scss">
  </head>
<h3>メンター名（タグ検索にする時間はなかった）</h3>
 <%= form_tag({controller:"students",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<%= link_to "新規投稿へ", new_student_path %>
<br>
<%= page_entries_info @students %>
<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>　
<% end %>
<div class="students-container">
  <% @students.each do |t| %>
    <div class="student">
      <h3>名前:<%= t.name %></h3>
      <h5>プロフィール:<%= t.profile %></h5>
      <h5>メンター:<%= t.mentor %></h5>
      <h5>学年:<%= t.grade %></h5>
      <p>作成:<%= t.created_at.to_s(:datetime_jp) %></p>
      <a href="/users/<%= t.user.id %>"><i class="fas fa-user-circle"></i><%= t.user.name %></a>
      <%= link_to"詳細へ", student_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %> 
      <%= link_to "編集する", edit_student_path(t.id) %>
      <%= button_to "削除する", student_path(t.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @students %>
