<div class="student">
  <p><%= @student.name %></p>
  <p><%= @student.profile %></p>
  <p><%= @student.mentor %></p>
  <p><%= @student.grade %></p>
  <p><%= @student.created_at.to_s(:datetime_jp) %></p>
</div>

<%= link_to "投稿一覧に戻る", students_path %>
<%= link_to "編集する", edit_student_path(@student.id) %>